body {
  background-color: wheat;
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


     }

h1 {
  font-size: 60px;
}
h2{
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
h3 {
  font-size: 20px;
}
  #men {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
   
   .card {
    background-color:white;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 45%;
    height: 20rem;
    border: 2px solid black;


    margin-bottom: 40px;
    margin-top: 30px;
    padding: 2rem;
  }

.invis {
color: white;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.btn {
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10rem;
  background-color: white;
}
